/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*apply the iribov font*/
@font-face {
    font-family: "Marist";
    src: url("/static/fonts/Marist/ABCMarist-Bold.woff2") format("woff2 supports variations"),
        url("/static/fonts/Marist/ABCMarist-Bold.woff2") format("woff2-variations");
    font-weight: bold;
}

@font-face {
    font-family: "Marist";
    src: url("/static/fonts/Marist/ABCMarist-Book.woff2") format("woff2 supports variations"),
        url("/static/fonts/Marist/ABCMarist-Book.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Marist", "Times new Roman";
    src: url("/static/fonts/Marist/ABCMarist-BookItalic.woff2") format("woff2 supports variations"),
        url("/static/fonts/Marist/ABCMarist-BookItalic.woff2") format("woff2-variations");
    font-style: italic;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ff8200;
    --color-primary-faded: #ff8400d7;
    --color-background: #ffffff;
    --color-text: #1E1E1E;
    --color-gray: #91918c;

    --color-secundary-1-light: #dcf082;
    --color-secundary-1-medium: #becd32;
    --color-secundary-1-dark: #506e00;

    --color-secundary-2-light: #ffc8d2;
    --color-secundary-2-medium: #ff738c;
    --color-secundary-2-dark: #b40055;

    --color-secundary-3-light: #96dcfa;
    --color-secundary-3-medium: #0096c8;
    --color-secundary-3-dark: #005f64;

    --color-secundary-4-light: #dcd2ff;
    --color-secundary-4-medium: #c896ff;
    --color-secundary-4-dark: #823cb4;

    font-family: "Marist", "Times New Roman";
}

html,
body {
    height: 100%;
    min-width: 320px;
}



.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

nav {
    height: 40px;
    padding: 3px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero {
    height: 10rem;
    background-color: var(--color-primary);
    text-align: center;
}

.hero h1 {
    margin: 2.5rem;
    font-size: 2.5rem;
    color: var(--color-background);
}

/*put main content in the center of the screen*/
.content {
    margin-top: 1rem;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-primary);
}

/*make labels be on top of input*/
label,
input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

input{
    text-indent: 4px;
}

label {
    padding-top: 0.75rem;
}

/* table styling */
.table-wrapper {
    max-height: calc(100vh - var(--table-wrapper-top-offset, 400px));
    min-height: 100px;
    width: 90vw;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

table {
    border-collapse: collapse;
    /* margin: 2rem 0; */
    /* border: 1px solid var(--color-text); */
    font-size: 0.75rem;
    table-layout:fixed;
}

thead {
    position: sticky;
    top: 0;
}

.searchText {
    background-color: var(--color-background);
    height: 0.5rem;
}

.searchTextBox {
    width: 100%;
    border: 1px solid var(--color-gray);
}

.header {
    border: 1px solid var(--color-text);
}

.headers {
    background-color: var(--color-primary);
    text-align: left;
    height: 2rem;
    padding: 1rem 1rem 1rem 0.5rem;
}

.row {
    height: 32px;
    white-space: nowrap;
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add "..." when text overflows */
}

 .cell{
    text-indent: 8px;
 }

.row:hover {
    background-color: var(--color-primary-faded) !important;
}

.row:nth-child(odd) {
    background-color: var(--color-secundary-3-light);
}

button {
    padding: 0.25rem 1rem;
    border-radius: 5px;
    border: 0px;
    margin: 1rem 0;

    background-color: var(--color-primary);
    color: var(--color-background);
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: var(--color-gray);
    padding: 30px;
}

.footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.footer__column {
    padding: 0 0.5rem;
    /* flex-grow: 1; */
    margin-bottom: 3rem;
    min-width: 150px;
}

.footer__title {
    color: var(--color-primary);
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer__item {
    list-style: none;
    margin-bottom: 0.75rem;
}

.footer__item a {
    color: var(--color-background);
    opacity: 50%;
}

.footer__item a:hover {
    opacity: 100%;
}

.footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.footer__copyright {
    margin-top: 0.5rem;
    color: var(--color-background);
    opacity: 50%;
}